.sub.board .selector,
.sub.board .reset,
.sub.board .list,
.sub.board .board-hue {
  display: none !important;
}

.perk-box {
  width: 150px;
  height: 100px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
  cursor: pointer;
  transition: background 0.3s ease;
  user-select: none;
}

.perk-box img {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
  filter: invert(.5);
}

.perk-box.active {
  color: white;
}

.perk-box.active img {
  filter: none;
}

.perk-box:not(.active) {
  background: #ccc;
  color: #666;
}


.perk-box.locked {
  background: #999;
  color: #333;
  cursor: not-allowed;
}

#berserker-perk.active {
  background: linear-gradient(to right, #8b0000, #ff0000);
}

#bongcloud-perk.active {
  background: linear-gradient(to right, #a18cd1, #fbc2eb);
}

#hue-master-perk.active {
  background: linear-gradient(to right, #43cea2, #185a9d);
}

#gambiteer-perk.active {
  background: linear-gradient(to right, #4a148c, #880e4f); 
}

#endgame-specialist-perk.active {
  background: linear-gradient(to right, #00c6ff, #0072ff);
}

#gladiator-perk.active {
  background: linear-gradient(to right, #434343, #000000);
}

#equalizer-perk.active {
  background: linear-gradient(to right, #1b5e20, #4a9e4d);
}

#rivalry-perk.active {
  background: linear-gradient(to right, #7f1d1d, #c0392b);
}

#preparation-perk.active {
  background: linear-gradient(to right, #093a5e, #0077b6);
}

#opportunist-perk.active {
  background: linear-gradient(to right, #daa520, #b8860b);
}

#versatility-perk.active {
  background: linear-gradient(to right, #8e44ad, #f39c12);
}

#knight-moves-perk.active {
  background: linear-gradient(to right, #0b3d91, #6a1b9a);
}
#aggression-perk.active {
  background: linear-gradient(to right, #d50000, #ff6f00);
}
#kings-gambit-perk.active {
  background: linear-gradient(to right, #a50034, #88113f);
}

.perks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.perk-box span {
  font-size: 0.9em;
}

/* Custom tippy tooltip styles */
.tippy-box {
  padding: 10px;
  font-family: 'Roboto', 'Noto Sans', sans-serif;
  font-size: 16px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 1;
  line-height: 1.4;
}

.tippy-box[data-theme~='light'] {
  background-color: hsl(37, 10%, 92%);
  color: black;
  border: 1px solid hsl(37, 12%, 84%);
}

.tippy-box[data-theme~='dark'], 
.tippy-box[data-theme~='transp'] {
  background-color: hsl(37, 10%, 8%);
  color: white;
  border: 1px solid hsl(37, 12%, 16%);
}


.tippy-box .perk-icon {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-right: 8px;
}
  

.tippy-box[data-theme~='light'] .perk-icon {
  filter: invert(1);
}

.tippy-box[data-theme~='dark'] .perk-icon,
.tippy-box[data-theme~='transp'] .perk-icon {
  filter: invert(0);
}

.tippy-box .progress-perk-tooltip li + li {
  margin-top: 7px;
}

.tippy-box ul.versatility-openings {
  margin-left: 18px;
}

.tippy-box ul.versatility-openings li {
  list-style: disc !important;
}

#hue-chess-settings-modal {
  width: 500px;
  font-family: 'Roboto', 'Noto Sans', sans-serif;
  padding: 20px;
}

#hue-chess-settings-modal .dialog-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#hue-chess-settings-modal .section {
  width: 100%;
  margin-bottom: 20px;
}

#hue-chess-settings-modal h2 {
  margin-bottom: 20px;
}

#hue-chess-settings-modal .section h3 {
  margin-bottom: 10px;
  font-size: 1.2em;
}

#hue-chess-settings-modal .section p {
  margin-bottom: 10px;
  font-size: 0.9em;
}

#hue-chess-settings-modal .import-export {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#hue-chess-settings-modal .styled-button {
  margin: 5px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background: #4a90e2;
  color: white;
  font-size: 1em;
  cursor: pointer;
  transition: background 0.3s;
}

#hue-chess-settings-modal .styled-button:hover {
  background: #357ab8;
}

#hue-chess-settings-modal #import-input {
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 5px;
  font-size: 1em;
}

#hue-chess-perks-modal {
  max-width: 720px;
  padding: 20px;
}

#hue-chess-perks-modal #perk-progress-info {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#hue-chess-perks-modal #perk-progress-info #prestige-container {
  display: none;
}

#hue-chess-perks-modal .flash {
  margin: 1em 0 2em 0;
  padding: 1em 2em;
  background: var(--c-good);
  border-radius: 3px;
  text-align: center;
}

#hue-chess-perks-modal .flash-quiet {
  background: var(--c-bg-zebra);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  text-align: center;
}

#hue-chess-perks-modal .flash-quiet::before {
  display: none;
}

#hue-chess-perks-modal .flash p {
  margin: 0;
}

#hue-onboarding-modal, #hue-challenge-completion-modal {
  width: 600px;
  z-index: 1000;
  top: 40%;
  padding: 20px;
  text-align: center;
}

#hue-onboarding-modal h3, #hue-challenge-completion-modal h3 {
  font-size: 22px;
  margin-bottom: 7px;
}

#hue-onboarding-modal h2, #hue-challenge-completion-modal h2 {
  margin-bottom: 10px;
}

#perks-header, #perk-progress-info  {
  justify-self: center;
}

cg-board {
  visibility: hidden;
}

dialog.hue-modal {
    box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
    border-radius: 6px;
    position: fixed;
    max-height: 100%;
    max-width: 100%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    border: none;
    outline: none;
    background: var(--c-bg-high);
    z-index: 111;
}

#specialization-container {
  display: block;
  text-align: center;
}

html.light #gladiator-progress-img {
  filter: invert(0%) sepia(91%) saturate(100%) hue-rotate(25deg) brightness(0) contrast(107%);
}


/* Preload Lichess Modal Styles */

/* ============================================================
   SCOPED TO dialog.hue-modal
   ============================================================ */

html.transp dialog.hue-modal::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    backdrop-filter: blur(6px)
}

dialog.hue-modal {
    box-shadow: 0 14px 28px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.22)
}

dialog.hue-modal button.close-button {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around
}

dialog.hue-modal .dialog-content.alert,
dialog.hue-modal .dialog-content.debug {
    display: flex;
    flex-flow: column
}

dialog.hue-modal {
    border-radius: 6px
}

body:has(dialog.hue-modal.touch-scroll) {
    overflow: hidden !important
}

dialog.hue-modal {
    position: fixed;
    max-height: 100%;
    max-width: 100%;
    top: 50%
}

html:not([dir=rtl]) dialog.hue-modal {
    left: 50%
}

html[dir=rtl] dialog.hue-modal {
    right: 50%
}

dialog.hue-modal {
    transform: translate(-50%, -50%)
}

html[dir=rtl] dialog.hue-modal {
    transform: translate(50%, -50%)
}

dialog.hue-modal {
    padding: 0;
    border: none;
    outline: none;
    background: var(--c-bg-high);
    z-index: 111
}

dialog.hue-modal:has(.dialog-content.alert) {
    z-index: 200
}

dialog.hue-modal::backdrop {
    background: var(--c-page-mask)
}

dialog.hue-modal > div.scrollable {
    max-height: calc(var(---viewport-height) - 16px);
    overflow-x: clip;
    overflow-y: auto
}

dialog.hue-modal div.close-button-anchor {
    position: relative;
    width: 100%;
    height: 0
}

dialog.hue-modal button.close-button {
    position: absolute;
    top: 4px
}

html:not([dir=rtl]) dialog.hue-modal button.close-button {
    right: 4px
}

html[dir=rtl] dialog.hue-modal button.close-button {
    left: 4px
}

dialog.hue-modal button.close-button {
    width: 40px;
    height: 40px;
    z-index: 112;
    background: var(--c-bg-high);
    color: var(--c-font);
    border-radius: 6px;
    border: 1px solid var(--c-border);
    font-size: 20px;
    text-align: center;
    cursor: pointer
}

dialog.hue-modal button.close-button:not(:focus) {
    outline: none
}

dialog.hue-modal:not(.touch-scroll) {
    margin-top: 16px;
    overflow: visible
}

dialog.hue-modal:not(.touch-scroll) button.close-button {
    transform: translate(18px, -18px)
}

html[dir=rtl] dialog.hue-modal:not(.touch-scroll) button.close-button {
    transform: translate(-18px, -18px)
}

dialog.hue-modal:not(.touch-scroll) button.close-button {
    width: 32px;
    height: 32px;
    font-size: 16px;
    border-radius: 50%;
    border: none
}

dialog.hue-modal:not(.touch-scroll) button.close-button:hover {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    background: var(--c-bad);
    color: #fff
}

dialog.hue-modal .dialog-content {
    text-align: center;
    padding: 2em;
    color: var(--c-font)
}

dialog.hue-modal .dialog-content.alert,
dialog.hue-modal .dialog-content.debug {
    gap: 2em;
    width: unset;
    height: unset;
    border-radius: 6px;
    border: 3px solid var(--c-primary)
}

dialog.hue-modal .dialog-content.alert {
    width: 480px;
    max-width: 100%;
    font-size: 16px
}

dialog.hue-modal .dialog-content.alert span {
    display: flex;
    gap: 2em;
    justify-content: end
}

dialog.hue-modal.touch-scroll .dialog-content.alert span {
    justify-content: space-around
}

dialog.hue-modal .dialog-content.alert input {
    align-self: center;
    width: min(40ch,90%)
}

dialog.hue-modal .dialog-content.alert .invalid {
    background-color: var(--m-bad_bg--mix-30)
}

/* ============================================================
   MSELECT, RADIO GROUPS, RANGE INPUTS, GAME SETUP
   (all scoped inside dialog.hue-modal)
   ============================================================ */

dialog.hue-modal .mselect__list {
    font-family: "Noto Sans",sans-serif
}

dialog.hue-modal .mselect__label,
dialog.hue-modal group.radio label,
dialog.hue-modal group.radio .label {
    background: linear-gradient(to bottom, var(--c-metal-top), var(--c-metal-bottom));
    text-shadow: 0 1px 0 var(--c-font-shadow)
}

dialog.hue-modal .mselect__label:hover {
    background: linear-gradient(to bottom, var(--c-metal-top-hover), var(--c-metal-bottom-hover));
    text-shadow: 0 1px 0 var(--c-font-shadow)
}

dialog.hue-modal group.radio input:checked+label {
    box-shadow: 0 3px 4px rgba(0,0,0,.15) inset
}

dialog.hue-modal group.radio input:checked+label {
    background: var(--c-accent);
    color: #fff;
    text-shadow: 0 1px 1px #000 !important
}

html.transp dialog.hue-modal .mselect__list::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    backdrop-filter: blur(6px)
}

dialog.hue-modal .mselect__list {
    box-shadow: 0 14px 28px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.22)
}

dialog.hue-modal .game-setup .color-cards {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.225)
}

dialog.hue-modal .game-setup .mselect .mselect__label .text .desc {
    overflow: hidden;
    text-overflow: ellipsis
}

dialog.hue-modal .mselect__label::after {
    font-size: 1.2em;
    vertical-align: middle;
    font-family: lichess;
    font-style: normal;
    font-weight: normal;
    text-transform: none;
    content: attr(data-icon);
    opacity: .9;
    unicode-bidi: isolate
}

dialog.hue-modal group.radio input {
    position: absolute;
    left: -99999px
}

dialog.hue-modal .game-setup .time-control-tabs .time-panel .presets,
dialog.hue-modal group.radio {
    display: flex;
    flex-flow: row wrap
}

dialog.hue-modal .game-setup .rating-range,
dialog.hue-modal .game-setup .fen__form,
dialog.hue-modal .game-setup .mselect .mselect__label .text {
    display: flex;
    flex-flow: row nowrap;
    align-items: center
}

dialog.hue-modal .game-setup .footer,
dialog.hue-modal group.radio label,
dialog.hue-modal group.radio .label {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center
}

dialog.hue-modal .game-setup .time-control-tabs .time-panel .slider-container .label-row,
dialog.hue-modal .mselect__label {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between
}

dialog.hue-modal .game-setup .color-cards .card-radio,
dialog.hue-modal .game-setup .time-control-tabs .time-panel .slider-container,
dialog.hue-modal .game-setup .time-control-tabs .time-panel,
dialog.hue-modal .game-setup .config-group,
dialog.hue-modal .game-setup .setup-content,
dialog.hue-modal .mselect__list {
    display: flex;
    flex-flow: column
}

dialog.hue-modal .game-setup .time-control-tabs .time-panel .presets .preset-btn,
dialog.hue-modal .game-setup .failure,
dialog.hue-modal .mselect__list,
dialog.hue-modal .mselect__label,
dialog.hue-modal group.radio {
    border-radius: 6px
}

dialog.hue-modal .mselect__label,
dialog.hue-modal group.radio {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12)
}

html.transp dialog.hue-modal .mselect__label,
html.transp dialog.hue-modal group.radio {
    backdrop-filter: blur(6px)
}

dialog.hue-modal input.range {
    appearance: none;
    background: none;
    border: 0
}

dialog.hue-modal input.range:focus {
    outline: none
}

dialog.hue-modal input.range::-webkit-slider-runnable-track {
    width: 100%;
    height: 1em;
    cursor: pointer;
    background: var(--c-shade);
    border-radius: .5em
}

dialog.hue-modal input.range::-webkit-slider-thumb {
    border: 1px solid var(--c-font-dimmer);
    height: 1em;
    width: 1.5em;
    border-radius: 12px;
    background: var(--c-bg-box);
    cursor: pointer;
    appearance: none
}

dialog.hue-modal input.range::-moz-range-track {
    width: 100%;
    height: 1em;
    cursor: pointer;
    background: var(--c-shade);
    border-radius: .5em
}

dialog.hue-modal input.range::-moz-range-thumb {
    border: 1px solid var(--c-font-dimmer);
    height: 1em;
    width: 1.5em;
    border-radius: 12px;
    background: var(--c-bg-box);
    cursor: pointer
}

dialog.hue-modal input.range::-ms-track {
    width: 100%;
    height: 1em;
    cursor: pointer;
    background: var(--c-shade);
    border-radius: .5em
}

dialog.hue-modal input.range::-ms-fill-lower {
    background: rgba(191,191,191,.78);
    border-radius: 11.8px
}

dialog.hue-modal input.range::-ms-fill-upper {
    background: rgba(214,214,214,.78);
    border-radius: 11.8px
}

dialog.hue-modal input.range::-ms-thumb {
    border: 1px solid var(--c-font-dimmer);
    height: 1em;
    width: 1.5em;
    border-radius: 12px;
    background: var(--c-bg-box);
    cursor: pointer;
    border-color: rgba(0,0,0,0);
    color: rgba(0,0,0,0)
}

dialog.hue-modal input.range:-moz-focusring::-moz-range-thumb {
    outline: 2px solid var(--c-primary)
}

dialog.hue-modal input.range:focus-visible::-webkit-slider-thumb {
    outline: 2px solid var(--c-primary)
}

dialog.hue-modal group.radio {
    overflow: hidden
}

dialog.hue-modal group.radio div {
    flex: 1 1 auto;
    position: relative
}

dialog.hue-modal group.radio label,
dialog.hue-modal group.radio .label {
    user-select: none;
    padding: 10px;
    height: 100%;
    cursor: pointer;
    border-inline-end: 1px solid var(--c-border)
}

dialog.hue-modal group.radio label.disabled,
dialog.hue-modal group.radio .label.disabled {
    background: var(--c-metal-top)
}

html.light dialog.hue-modal group.radio label.disabled,
html.light dialog.hue-modal group.radio .label.disabled {
    background: var(--c-metal-bottom)
}

@media (hover: hover) {
    dialog.hue-modal group.radio label:not(.disabled):hover,
    dialog.hue-modal group.radio .label:not(.disabled):hover {
        background: linear-gradient(to bottom, var(--c-metal-top-hover), var(--c-metal-bottom-hover));
        text-shadow: 0 1px 0 var(--c-font-shadow)
    }
}

dialog.hue-modal group.radio div:last-child label {
    border-inline-end: 0
}

dialog.hue-modal group.radio input:focus-visible+label {
    outline: 2px solid var(--c-primary);
    outline-offset: -2px
}

dialog.hue-modal .color-picker {
    --king-size: 32px
}

dialog.hue-modal .color-picker__button i {
    display: block;
    width: var(--king-size);
    height: var(--king-size);
    background-size: var(--king-size) var(--king-size)
}

dialog.hue-modal .mselect {
    position: relative;
    white-space: nowrap
}

dialog.hue-modal .mselect__toggle {
    position: absolute;
    z-index: -1;
    opacity: 0
}

dialog.hue-modal .mselect__label {
    padding-inline-start: 1rem;
    padding-inline-end: .6rem;
    padding-top: .3rem;
    padding-bottom: .3rem;
    gap: 1ch;
    cursor: pointer
}

dialog.hue-modal .mselect__label::after {
    content: "";
    font-size: 70%;
    color: var(--c-primary);
    margin-inline: .4em 0
}

dialog.hue-modal .mselect__label:focus-visible {
    outline: 2px solid var(--c-primary)
}

dialog.hue-modal .mselect__toggle:checked ~ .mselect__label {
    transition: opacity 150ms ease;
    opacity: 0
}

dialog.hue-modal .mselect__toggle:focus-visible ~ .mselect__label {
    outline: 2px solid var(--c-primary)
}

dialog.hue-modal .mselect__list {
    position: absolute;
    top: 0
}

html:not([dir=rtl]) dialog.hue-modal .mselect__list {
    left: 0
}

html[dir=rtl] dialog.hue-modal .mselect__list {
    right: 0
}

dialog.hue-modal .mselect__list {
    min-width: 100%;
    max-height: 60vh;
    overflow-y: auto;
    z-index: 111;
    background: var(--c-bg-popup);
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 150ms ease
}

dialog.hue-modal .mselect__toggle:checked ~ .mselect__list {
    transform: scale(1, 1)
}

@media (max-width: 799.29px) {
    dialog.hue-modal .mselect__toggle:checked ~ .mselect__list {
        position: fixed;
        top: 50%;
        transform: translateY(-50%) scale(1, 1)
    }

    dialog.hue-modal .mselect__toggle:checked ~ .mselect__list {
        position: absolute;
        top: 0;
        transform: scale(1, 1)
    }
}

dialog.hue-modal .mselect__toggle:checked ~ .mselect__list * {
    opacity: 1;
    visibility: visible;
    transition: opacity 125ms ease-in-out 125ms
}

dialog.hue-modal .mselect__item {
    white-space: nowrap;
    display: block;
    padding: .3em 1em;
    visibility: hidden;
    opacity: 0;
    color: var(--c-primary);
    border-left: 3px solid rgba(0,0,0,0);
    transition: background-color 150ms ease,border-color 150ms ease
}

dialog.hue-modal .mselect__item.current {
    background: var(--c-bg-zebra);
    border-color: var(--c-primary)
}

dialog.hue-modal .mselect__item:hover {
    background: var(--c-primary);
    color: var(--c-over)
}

dialog.hue-modal .mselect__item:focus-visible {
    outline: 2px solid var(--c-primary);
    outline-offset: -2px
}

dialog.hue-modal .mselect__item::before {
    margin-inline-end: .4em
}

dialog.hue-modal .game-setup {
    width: 42rem;
    max-width: 96vw;
    padding: 0;
    overflow: visible
}

dialog.hue-modal .game-setup .mselect .fullscreen-mask {
    display: block
}

dialog.hue-modal .game-setup .mselect .desc {
    font-size: .9rem;
    color: var(--c-font-dim)
}

dialog.hue-modal .game-setup .mselect .mselect__label {
    padding-inline-end: 1rem;
    gap: .8rem;
    font-size: 1.2rem
}

dialog.hue-modal .game-setup .mselect .mselect__label .text {
    gap: .8rem;
    overflow: hidden;
    width: 100%
}

dialog.hue-modal .game-setup .mselect .mselect__label .text .name {
    line-height: 1.2;
    white-space: nowrap
}

dialog.hue-modal .game-setup .mselect .mselect__list {
    opacity: 1;
    visibility: visible
}

dialog.hue-modal .game-setup .mselect .mselect__item {
    opacity: 1;
    display: table-row;
    cursor: pointer;
    visibility: visible
}

dialog.hue-modal .game-setup .mselect .mselect__item td {
    padding: .5em .8em;
    text-align: start
}

dialog.hue-modal .game-setup .mselect .mselect__item .icon {
    padding-inline-end: 0
}

dialog.hue-modal .game-setup .mselect .mselect__item .name {
    font-weight: bold
}

dialog.hue-modal .game-setup .mselect .mselect__item .desc {
    padding-inline-end: 1.5em;
    white-space: normal
}

dialog.hue-modal .game-setup .mselect .mselect__item:hover * {
    background: var(--c-primary);
    color: var(--c-over)
}

dialog.hue-modal .game-setup h2 {
    margin: 1.5rem 0
}

dialog.hue-modal .game-setup .setup-content {
    border-block: 1px solid var(--c-border);
    padding: 1.8rem 1.2rem;
    gap: 1.8rem;
    background: var(--c-bg-zebra)
}

dialog.hue-modal .game-setup .disabled {
    opacity: .4;
    cursor: default !important
}

dialog.hue-modal .game-setup group.radio input:checked+label {
    background: var(--c-secondary)
}

dialog.hue-modal .game-setup .config-group {
    gap: .5rem
}

dialog.hue-modal .game-setup .config-group .label {
    margin-bottom: .5rem;
    font-weight: 600;
    color: var(--c-font)
}

dialog.hue-modal .game-setup .fen__board {
    display: block;
    width: 50%;
    margin-inline: auto
}

dialog.hue-modal .game-setup #fen-input {
    flex: 1 1 100%
}

dialog.hue-modal .game-setup .failure {
    background: var(--m-bad_bg--mix-20);
    box-shadow: 0 0 13px 6px var(--m-bad_bg--mix-20)
}

dialog.hue-modal .game-setup .footer {
    position: relative;
    padding: 1.5rem
}

dialog.hue-modal .game-setup .lobby__start__button {
    height: 3rem;
    padding-inline: 1rem 1.2rem;
    gap: .8rem;
    color: var(--c-font);
    border: 1px solid var(--c-border)
}

dialog.hue-modal .game-setup .lobby__start__button::before {
    color: var(--c-secondary) !important
}

dialog.hue-modal .game-setup .footer .spinner {
    position: absolute;
    width: 56px;
    height: 56px
}

dialog.hue-modal .game-setup .rating-range {
    justify-content: center
}

dialog.hue-modal .game-setup .rating-range .rating-min,
dialog.hue-modal .game-setup .rating-range .rating-max {
    font-weight: bold;
    flex: 0 0 5.5ch
}

dialog.hue-modal .game-setup .rating-range input {
    padding: 0;
    width: 30%
}

dialog.hue-modal .game-setup .ratings {
    width: 100%;
    text-align: center
}

dialog.hue-modal .game-setup .ratings strong {
    margin-inline-end: .25rem
}

dialog.hue-modal .game-setup .time-control-tabs .tabs-horiz {
    border-bottom: 1px solid var(--c-border);
    margin-bottom: 1rem;
    width: 100%
}

dialog.hue-modal .game-setup .time-control-tabs .tabs-horiz button.active,
dialog.hue-modal .game-setup .time-control-tabs .tabs-horiz button:hover {
    border-color: var(--c-secondary)
}

dialog.hue-modal .game-setup .time-control-tabs .tabs-horiz button.active {
    color: var(--c-secondary)
}

dialog.hue-modal .game-setup .time-control-tabs .time-panel {
    gap: 1.2rem
}

dialog.hue-modal .game-setup .time-control-tabs .time-panel .presets {
    justify-content: center;
    margin-top: -0.5rem;
    gap: .3rem
}

dialog.hue-modal .game-setup .time-control-tabs .time-panel .presets .preset-btn {
    color: var(--c-font-dim);
    padding: .2rem .5rem;
    font-size: .9rem;
    background: var(--c-bg-low)
}

dialog.hue-modal .game-setup .time-control-tabs .time-panel .presets .preset-btn:hover {
    background: var(--c-bg-zebra2);
    color: var(--c-font-clear)
}

dialog.hue-modal .game-setup .time-control-tabs .time-panel .presets .preset-btn:focus-visible {
    outline: 2px solid var(--c-primary)
}

dialog.hue-modal .game-setup .time-control-tabs .time-panel .presets .preset-btn.active {
    background: var(--c-secondary);
    color: var(--c-over)
}

dialog.hue-modal .game-setup .time-control-tabs .time-panel .sliders-grid {
    display: grid;
    grid-template-columns: 1fr 3ch 1fr
}

dialog.hue-modal .game-setup .time-control-tabs .time-panel .slider-container {
    justify-content: space-between
}

dialog.hue-modal .game-setup .time-control-tabs .time-panel .slider-container .label-row {
    align-items: flex-start;
    margin-bottom: .5rem
}

dialog.hue-modal .game-setup .time-control-tabs .time-panel .slider-container .label-row .val-box {
    background: var(--c-font-dim);
    padding: .1rem .5rem;
    border-radius: 3px;
    font-weight: bold;
    color: var(--c-bg)
}

dialog.hue-modal .game-setup .time-control-tabs .time-panel .slider-container input[type=range] {
    width: 100%;
    padding: 0
}

dialog.hue-modal .game-setup .time-control-tabs .time-panel .slider-separator {
    line-height: 1.7
}

dialog.hue-modal .game-setup .color-cards .card-radio {
    padding: .75rem
}

dialog.hue-modal .game-setup .color-cards .card-radio .text {
    font-size: .85rem;
    margin-top: .5rem;
    font-weight: 500
}

@media (max-height: 899.29px) {
    dialog.hue-modal .game-setup h2 {
        margin-block: 1.1rem
    }

    dialog.hue-modal .game-setup .footer {
        padding: 1.1rem
    }

    dialog.hue-modal .game-setup .setup-content {
        padding: 1.25rem .75rem
    }

    dialog.hue-modal .game-setup .fen__board {
        width: 40%
    }

    dialog.hue-modal .game-setup:has(.increment-choice) .fen__board {
        width: 30%
    }
}

@media (pointer: coarse) {
    dialog.hue-modal .game-setup select {
        font-size: 1.2rem
    }

    dialog.hue-modal .game-setup .lobby__start__button {
        border: 2px solid var(--c-secondary)
    }
}